.place__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: 0;
  color: #000;
  cursor: pointer;
  transition: opacity .15s ease-out;
}



.place__like-button:hover {
  opacity: .5;
}